<section data-ng-controller="PermissionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Permissions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="permission in permissions" data-ng-href="#!/permissions/{{permission._id}}" class="list-group-item">
			<small class="list-group-item-text">
            <h4 class="list-group-item-heading" data-ng-bind="permission.role"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="permission.permissions"></h4>
<!--

                <div class="form-group" ng-hide="permission.role.hide" class="ng-hide">
                    <label >{{credentials.roles.desc}}</label>
                    <select class="form-control" 
                        data-ng-model="credentials.roles.role" 
                        ng-options="value as value for value in credentials.roles.type[0].enum"></select>
                </div>



				Posted on
				<span data-ng-bind="permission.created | date:'medium'"></span>
				by
				<span data-ng-bind="permission.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="permission.name"></h4>
        -->
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!permissions.$resolved || permissions.length">
    	No Permissions yet, why don't you <a href="/#!/permissions/create">create one</a>?
    </div>
</section>